/* Creator pages, password recovery page & etc small pages */
.crtaskform {
	width: 60%;
	border: 0.5px dotted rgba(91,96,247,1);
	display: inline-block;
	text-align: center;
	padding: 10px;
}
.crtaskform label {
	display: inline-block;
	margin-bottom: 2px;
	font-weight: bolder;
	font-style:normal;
	float: none;
	width:100%;
}
.crtaskform .task_prior {
    margin-left: 20px;
    margin-right: 2px;
}
#daterange {
    display: inline-block;
    width: 80%;
    text-align: justify
}
#daterange .datetask {
    width: 45%;
    height: 15px;
    font-size: 12pt;
    margin-bottom: 4px;
}
#daterange #startdatetask {
    float: left;
}
#daterange #enddatetask {
    float: right;
}
.crtaskform input[type="text"] {
	width: 80%;
	height: 15px;
	font-size: 12pt;
	margin-bottom: 4px;
}
#task_comm {
    height: 100px;
    width: 80%;
    overflow: scroll;
}
#login_block {
    max-width: 50% !important;
    min-width: 40% !important;
}
#login_block .logform {
    width: 100%;
    text-align: center;
}
#login_block .logform input[type="text"],#login_block .logform input[type="password"] {
    float: none !important;
    margin-bottom: 6px !important;
    max-width: 90% !important;
    min-width: 80% !important;
}
#login_block .logform input[type="submit"] {
   min-width: 65% !important;
    max-width: 80% !important;
}
#login_block .logform .helpreg {
    border: 1px dashed rgba(91,96,247,1);
    padding: 6px;
    margin-top: 8px;
    text-indent: 1.5em;
    text-align: left;
    border-radius: 10px;
    min-height: 30px;
    width: 80%;
    display: inline-block;
}
#login_block .logform .helpreg a {
    margin-right: 0px !important;
}
#einfo_cont {
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: 0px;
    display: inline-block;
    width: 100%;
    text-align: right;
    border-top: 1px dotted rgba(91,96,247,1);
}
#edit_info {
    display: inline-block;
    font-size: 8pt;
    margin-right: 0px;
    width: 40%;
    overflow: hidden;
    text-align: left;
}