.userstable {
	width: 100%;
	display: table;
	margin-top: 4px;
	padding: 1px;
	border: 1px dotted rgba(91,96,247,1);	
}	
.userstable tr {
	border: 0.5px dotted rgba(91,96,247,1);	
}
.userstable td {
	border: 0px;
}
.userinfo {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 60%;
    border: 2px dotted rgba(91,96,247,1);
}
.userinfo thead th {
    border-bottom: 1px dotted rgba(91,96,247,1);
}
.userinfo thead .nickname {
    float: left;
    width: auto;
    min-width: 118px;
    margin-right: 20px;
    padding-right: 10px;
}
.userinfo .avatar {
    width: 125px;
    border-right: 1px dotted rgba(91,96,247,1);
}
.userinfo .avatar img {
    border: 0px;
    margin: 5px;
}
.userinfo .nickname {
    border-right: 1px dotted rgba(91,96,247,1);
}
.userinfo td, .userinfo th {
    padding: 3px;
    padding-left: 5px;
    vertical-align: top;
}
.userinfo th {
    font-weight: bolder;
    font-size: 16pt;
}
.userinfo tbody .headinfo {
    font-style: italic;
    font-size: 14pt;
    float: none;
    border-bottom:  1px dotted rgba(91,96,247,1);
    width: auto;
}
.userinfo tbody .info {
    float: none;
    font-size: 10pt;
}
.eu_form {
    display: inline-block;
    width: 60%;
    border: 2px dotted black;
}
.eu_form label {
    display: inline-block;
    margin-bottom: 2px;
    font-weight: bolder;
    font-style:normal;
    float: none;
    width: 50%;
}